# Vite Configuration
VITE_API_URL=http://localhost:5000/api

# Google Identity Services
# Get this from Google Cloud Console (OAuth 2.0 Client IDs -> Web application)
VITE_GOOGLE_CLIENT_ID="408470214216-hu5losgvm27ao4aap54gvpa15e1qadfu.apps.googleusercontent.com"
